

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700); 
 * {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
 }

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
}

h1 {
  /*display: inline-block;
  width: 33.33%;*/
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .25em;
}

.title-name {
  /* position: fixed;
  margin-left: 33.33%; */
  text-align: center;
  top: 0px;
  /*clear: both;*/
  text-transform: uppercase;
}

#title-name, #title-name:link, #title-name:visited, #title-name:hover {
  color: black;
  text-decoration: none;
}

.title-architecture {
  /*position: fixed;
  text-align: right;
  top: 0px;
  right: 25px;
  clear: both;*/
  position: absolute;
  right: 25px;
  top: 0;
  text-transform: uppercase;
}

 /*//// MAIN NAVIGATION /////*/
#main-nav {
  position: fixed;
  top: 75px;
  right: 25px;
  text-align: right;
  text-transform: uppercase;
  font-size: 1em;
}

.news, .projects, .about, .contact {
  display: block;
}

#main-nav a:link, #main-nav a:visited {
  color: black;
  text-decoration: none;
}

#main-nav a:hover {
  color: black;
  text-decoration: underline;
}

.active {
  font-weight: 400;
}
 /*//// END MAIN NAVIGATION /////*/

 /*//// SUB-NAVIGATION /////*/
#sub-nav {
  position: fixed;
  top: 200px;
  right: 25px;
  text-align: right;
  text-transform: uppercase;
  font-size: 1em;
}
.all, .residential, .arts-culture, .civic-institutional, .educational, .commercial, .competition, .interiors {
  display: block;
}

.firm, .bios, .awards, .press {
  display: block;
}
#sub-nav a:link, #sub-nav a:visited {
  color: black;
  text-decoration: none;
}

#sub-nav a:hover {
  color: black;
  text-decoration: underline;
}

 /*//// END SUB-NAVIGATION /////*/

 /*//// HOMEPAGE IMAGES ////*/
/*#homepage {
  background-image: url(../images/slideshow/IMG_9751.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
} */
/*//// END HOMEPAGE IMAGES ////*/

/*//// CONTACT PAGE ////*/
.map {
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.contact-info {
  font-size: .85em;
  text-align: center;
  line-height: .5em;
}
/*//// END CONTACT PAGE ////*/

/*/// ABOUT PAGES ///*/
.about-column {
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.about-image {
  display: inline-block;
  width: 100%;
}

.awards-list {
  display: inline-block;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  text-align: center;
}

.awards-list h3 {
  font-weight: 400;
}
/*/// END ABOUT PAGES ///*/

/*/// NEWS PAGE ///*/

.news-item-1 {
  display: inline-block;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}

.news-item {
  display: inline-block;
  width: 60%;
  margin-left: 20%;
  margin-top: 3%;
}

.news-image {
  clear: both;
  display: inline;
  width: 35%;
}

.news-paragraph {
  clear: both;
  display: inline;
  float: right;
  width: 60%;
}

/*/// END NEWS PAGE///*/

/*//// PROJECT GRID /////*/
#project-grid {
  display: inline-block;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  box-sizing: border-box;
}

#project-grid img{
  position: relative;
  width: 100%;
  overflow: hidden;
}

/*#id img {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 1;
  transition: opacity 1s;
} */

.thumbnail-container:hover img {
  opacity: .5;
}
.thumbnail-container {
  position: relative;
  width: 25%;
  float: left;
  padding: 0 2px;
  box-sizing: border-box;
}
.thumbnail-container p {
  position: absolute;
  display: none;
  text-align: center;
  width: 100%;
  margin: 0;
}
.thumbnail-container:hover p {
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: 400;
}

.inactive {
  opacity: .25;
}

/*///// PRESS ///////*/

#press {
  display: inline-block;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  box-sizing: border-box;
}

#press img{
  position: relative;
  width: 100%;
  overflow: hidden;
}

/*#press img:hover {
  opacity: .5;
}*/

.press-container:hover img {
  opacity: .5;
}
.press-container {
  position: relative;
  width: 33%;
  float: left;
  padding: 0 2px;
  box-sizing: border-box;
}

.press-container p {
  position: absolute;
  display: none;
  text-align: center;
  width: 100%;
  margin: 0;
  font-weight: 400;
}
.press-container:hover p {
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: 400;
}

.project-slideshow {
  width: 60%;
  margin-left: 20%;
  margin-right; 20%;
  margin-top: 10%;
}

.slick-slide img {
  width: 100%;
}
.slick-prev:before, .slick-next:before {
  color: black;
}

.project-text {
  width: 60%;
  margin-left: 20%;
  margin-right; 20%;
}

.project-text h3, .project-text h4 {
  line-height: .2em;
}

.project-text p {
  text-align: justify;
}